PORT=3333
GOOGLE_SHEET_ID=cole_o_id_da_planilha_aqui
GOOGLE_CLIENT_EMAIL=service-account@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA\n-----END PRIVATE KEY-----\n"


# package.json: 
# "dev": "concurrently \"npm run dev --prefix backend\" \"npm run dev --prefix frontend\"
 